<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div id="main-container">
        <table id="proxies_data">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Source ID</th>
                    <th>Proxy ID</th>
                    <th>Used</th>
                    <th>Used at</th>
                    <th>Uncalled</th>
                    <th>Reset at</th>
                    <th>Empty API</th>
                </tr>
            </thead>
            {% for proxy in context %}
                <tr>
                    <td>{{ proxy.ID }}</td>
                    <td>{{ proxy.source_id }}</td>
                    <td>{{ proxy.proxy_id }}</td>
                    <td>{{ proxy.used }}</td>
                    <td>{{ proxy.used_at }}</td>
                    <td>{{ proxy.uncalled }}</td>
                    <td>{{ proxy.reset_at }}</td>
                    <td>{{ proxy.empty_api_responses_num }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>