{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parsers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<div id="main-container" class="container">
        <table id="parsers_data" class="table">
            <thead>
                <tr>
                    <th>Worker key</th>
                    <th>Proxies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select id="parsers" name="parser_task">
                            <option value="-1">Please select task</option>
                            {% for parser in parsers %}
                                {% for data in parser %}
                                    <option value="{{ data.worker_key }}" name="{{ data.worker_key }}">{{ data.worker_key }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="proxies" name="proxy_id">
                            <option value="-1">Please select proxy</option>
                            {% for proxy in proxies %}
                                {% if proxy.status == 1 %}
                                    <option value="{{ proxy.id }}" name="{{ proxy.id }}">{{ proxy.proxy_id }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="Test" class="btn btn-success"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>