.container {
  width: 1600px!important;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}


.title {
  text-align: center;
  font-size: 2.2em;
}

.show_roll_results {
  width: 50%!important;
  margin: 20px auto;
  border-spacing: 5px;
}

.show_roll_results > tbody > tr > td {
  background-color: #42f46b;
  text-align: center;
  color: #fff;
  font-weight: 800;
  padding: 5px;
  border-left: 1px solid #fff;
}

#total_score {
  margin: 0 auto;
  width: 400px;
}

#scoreboard {
  text-align: center;
}

#scoreboard li {
  display: inline-block!important;
  list-style: none!important;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(0,0,0,0.3);
}

.explicit {
  width: 120px!important;
}

.legend {
  text-decoration: underline;
  font-size: 1.5em;
}

.roll1, .roll2, .roll3 {
  padding: 10px;
  background: #fff;
  font-size: 1.4em;
}

.total_frame {
  padding-top: 15px;
  text-align: center;
  font-size: 1.5em;
}

.results {
  padding: 5px;
}

.place {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background: rgba(66, 244, 107, 0.5);
  border: 1px solid #ccc;
}
